@import '~bootstrap/scss/bootstrap';

.navbar1 {
    border: 0;
    font-size: 18px;
    background: #d1d1d115;
    margin: auto;
    margin-inline-start: 90px;
    align-self: flex-end;
}

#text-bar{
    color: white;
}
